<!doctype html>
<html>
<head>
  {{> head title=title description=description }}
</head>
<body>
  <main class="container">
    {{> header}}
    <h1>{{title}}</h1>
    <div data-markdown>{{{ body2 }}}</div>
    <p>{{{ contents }}}</p>
  </main>
  {{> footer}}
  <script inline src="js/hello-world.js"></script>
</body>
</html>
